<header>
<h1> Update Event</h1>
</header>

<section id="edit_deed">
  <%= form_with url: user_good_deed_path(@facade.deed_id), method: :patch, local: true do |f| %>
    <h3><%= f.text_field :name, value: "#{@facade.fetch_deed.name}", readonly: true %></h3>
    <%= f.label :date %>
    <%= f.date_field :date, value: @facade.fetch_deed.date, min: Date.today %><br>
    <%= f.label :time %>
    <%= f.time_field :time, required: true %><br>
    <%= f.label :attendees %>
    <% @facade.fetch_deed.attendees.each do |attendee| %>
      <%= f.label :attendee, value: attendee.name %>
    <% end %><br>
    <%= f.check_box :status %>
    <%= f.label :status, "Completed" %><br>
    <%= f.label :notes %>
    <%= f.text_area :notes, value: @facade.fetch_deed.notes %><br>
    <%= f.label :media_link %>
    <%= f.file_field :media_link, value: @facade.fetch_deed.media_link %><br>
    <%= f.submit "Update Event" %>
  <% end %>
</section>
<br>
<br>
<nav id="delete_deed">
  <% if @facade.fetch_deed.status == "In Progress" %>
    <%= link_to "Delete Event", user_good_deed_path(@facade.deed_id), method: :delete %>
  <% end %>
</nav>