<!-- Edit Good Deed Form -->
<div class="min-h-screen bg-indigo-50 py-6 flex flex-col justify-center sm:py-12">
  <div class="relative py-3 sm:max-w-xl sm:mx-auto">
    <div class="relative px-4 py-10 bg-white mx-8 md:mx-0 shadow rounded-3xl sm:p-10">
      <div class="w-full mx-auto">

       <section id="edit_deed">
       <% @facade_fetched_deed = @facade.fetch_deed %>
          <% if @facade_fetched_deed.status == 'In Progress' %>
            <%= form_with url: user_good_deed_path(@facade.deed_id), method: :patch, local: true do |f| %>
            <%= f.hidden_field :name, value: @facade_fetched_deed.name, readonly: true %>
            <%= f.hidden_field :attendee, value: @facade_fetched_deed.attendees, readonly: true %>
            <!-- <%= f.hidden_field :date, value: @facade_fetched_deed.date %> -->
            <!-- <%= f.hidden_field :time, value: @facade_fetched_deed.time.to_datetime.strftime("%H:%M") %> -->

              <!-- Logo & Deed Name -->
              <div class="flex items-center space-x-5">
                <%= image_tag("do_good.jpg", alt: "Do Good Logo", class: "mx-auto w-1/5 h-auto") %>
                <div class="block pl-2 font-semibold text-xl self-start text-gray-700">
                  <h2 class="leading-relaxed mt-5"><%= @facade_fetched_deed.name %></h2>
                  <p class="text-sm text-gray-500 font-normal leading-relaxed">Complete the form, invite others, & do good!</p>
                </div>
              </div>

              <div class="divide-y divide-gray-200">
                <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">

                  <!-- Date & Time & Attendees (Updated) -->
                  <div class="flex items-center justify-center space-x-10">
                    <div class="flex flex-col">
                      <label class="leading-loose font-semibold text-gray-800"><%= f.label :date %></label>
                      <p><%= f.date_field :date, value: @facade.fetch_deed.date %></p>
                    </div>
                    <div class="flex flex-col">
                      <label class="leading-loose font-semibold text-gray-800"><%= f.label :time %></label>
                      <p><%= f.time_field :time, value: @facade.fetch_deed.time.to_datetime.strftime("%H:%M") %></p>
                    </div>
                    <% if @facade_fetched_deed.attendees.size >= 1 %>
                      <div class="flex flex-col place-items-center">
                        <label class="leading-loose font-semibold text-gray-800">Attendees</label>
                        <div class="flex flex-col justify-self-start">
                          <% @facade_fetched_deed.attendees.each do |attendee| %>
                            <p><%= attendee.name%></p>
                          <% end %>   
                        </div>    
                      </div>
                    <% end %>
                  </div>
                </div>

                  <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
                  <!-- Notes -->
                    <div class="flex flex-col place-items-center">
                      <label class="leading-loose font-semibold text-indigo-500"><%= f.label :notes %></label>
                          <%= f.text_area :notes, size: "46x4", value: @facade_fetched_deed.notes %>
                    </div>

                  <!-- Image Upload -->
                  <div class="flex flex-col place-items-center">
                      <label class="leading-loose font-semibold text-indigo-500"><%= f.label :media_link %></label>
                      <div class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-600 focus:outline-none text-gray-600">
                      <%= f.file_field :media_link, value: @facade_fetched_deed.media_link %>
                      </div>
                  </div>
                </div>

                <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
                  <div class="flex flex-col place-items-center">
                  <!-- Status -->
                    <div class="flex items-start">
                      <div class="flex items-center h-5">
                        <label class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 rounded">
                        <%= f.check_box :status %>
                        </label>
                      </div>
                      <div class="ml-3 text-sm">
                        <label class="font-medium text-indigo-500"><%= f.label :status, "Completed" %></label>
                        <p class="text-gray-500">Note: Once completed, deed cannot be deleted.</p>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Submit Button -->
                <div class="pt-8 flex items-center space-x-4">
                    <button class="bg-white flex justify-center items-center w-full text-gray-800 hover:text-red-500 border-2 border-gray-500 hover:border-red-500 p-2 px-4 py-3 rounded-md focus:outline-none"><%= link_to "Delete Event", user_good_deed_path(@facade.deed_id), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %></button>
                    <button class="bg-red-500 hover:bg-indigo-500 flex justify-center items-center w-full text-white px-4 py-3 rounded-md focus:outline-none"><%= f.submit "Update Event" %></button>
                </div>
              </div>
            <% end %>

          <!-- HERE STARTS THE EDIT FORM FOR A COMPLETED GOOD DEED -->
          <% elsif @facade_fetched_deed.status == 'Completed' %>
            <%= form_with url: user_good_deed_path(@facade.deed_id), method: :patch, local: true do |f| %>
            <%= f.hidden_field :name, value: @facade_fetched_deed.name %>
            <%= f.hidden_field :status, value: "1" %>
            <%= f.hidden_field :attendee, value: @facade_fetched_deed.attendees, readonly: true %>
            <%= f.hidden_field :date, value: @facade_fetched_deed.date %>
            <%= f.hidden_field :time, value: @facade_fetched_deed.time.to_datetime.strftime("%H:%M") %>

                  
              <!-- Logo & Deed Name -->
              <div class="flex items-center space-x-5">
                <%= image_tag("do_good.jpg", alt: "Do Good Logo", class: "mx-auto w-1/5 h-auto") %>
                <div class="block pl-2 font-semibold text-xl self-start text-gray-700">
                  <h2 class="leading-relaxed mt-5"><%= @facade_fetched_deed.name %></h2>
                  <p class="text-sm text-gray-500 font-normal leading-relaxed">Complete the form, invite others, & do good!</p>
                </div>
              </div>
    
              <div class="divide-y divide-gray-200">
                <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">

                  <!-- Date & Time & Attendees (Updated) -->
                  <div class="flex items-center justify-center space-x-10">
                    <div class="flex flex-col">
                      <label class="leading-loose font-semibold text-gray-800">Date</label>
                      <p><%= @facade_fetched_deed.date %></p>
                    </div>
                    <div class="flex flex-col">
                      <label class="leading-loose font-semibold text-gray-800">Time</label>
                      <p><%= @facade_fetched_deed.time.to_datetime.strftime("%H:%M") %></p>
                    </div>
                    <% if @facade_fetched_deed.attendees.size >= 1 %>
                      <div class="flex flex-col place-items-center">
                        <label class="leading-loose font-semibold text-gray-800">Attendees</label>
                        <div class="flex flex-col justify-self-start">
                          <% @facade_fetched_deed.attendees.each do |attendee| %>
                            <p><%= attendee.name%></p>
                          <% end %>   
                        </div>    
                      </div>
                    <% end %>
                  </div>
                </div>

                  <!-- Date & Time: Original
                  <div class="flex items-center justify-center space-x-10">
                    <div class="flex flex-col">
                      <label class="leading-loose font-semibold text-gray-800"><%= f.label :date %></label>
                      <%= f.date_field :date, value: @facade_fetched_deed.date, readonly: true %>
                    </div>
                    <div class="flex flex-col">
                      <label class="leading-loose font-semibold text-gray-800"><%= f.label :time %></label>
                      <%= f.text_field :time, value: @facade_fetched_deed.time, readonly: true %>
                    </div>
                  </div> -->

                  <!-- Attendees: Original
                  <% if @facade_fetched_deed.attendees.size > 1 %>
                    <div class="flex flex-col place-items-center">
                      <label class="leading-loose font-semibold text-gray-800"><%= f.label :attendees %></label>
                      <div class="flex flex-col justify-self-start">
                        <% @facade_fetched_deed.attendees.each do |attendee| %>
                          <p><%= f.text_field :attendee, value: attendee.name, readonly: true %></p>
                        <% end %>   
                      </div>    
                    </div>
                  <% end %> -->
                  
                  <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
                  <!-- Notes -->
                    <div class="flex flex-col place-items-center">
                      <label class="leading-loose font-semibold text-indigo-500"><%= f.label :notes %></label>
                        <%= f.text_area :notes, size: "46x4", value: @facade_fetched_deed.notes %>
                    </div>

                  <!-- Image Upload -->
                  <div class="flex flex-col place-items-center">
                      <label class="leading-loose font-semibold text-indigo-500"><%= f.label :media_link %></label>
                      <div class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-600 focus:outline-none text-gray-600">
                      <%= f.file_field :media_link, value: @facade_fetched_deed.media_link %>
                      </div>
                  </div>
                </div>

                <!-- Submit Button -->
                <div class="pt-8 flex items-center space-x-4">
                    <button class="bg-red-500 hover:bg-indigo-500 flex justify-center items-center w-full text-white px-4 py-3 rounded-md focus:outline-none"><%= f.submit "Update Event" %></button>
                </div>
              </div>
            <% end %>
          <% end %>
        </section>

      </div>
    </div>
  </div>
</div>


<!-- ORIGINAL CODE: 
<header>
<h1> Update Event</h1>
</header>

<section id="edit_deed">
  <% if @facade.fetch_deed.status == 'In Progress' %>


    <%= form_with url: user_good_deed_path(@facade.deed_id), method: :patch, local: true do |f| %>
      <h3><%= f.text_field :name, value: @facade.fetch_deed.name, readonly: true %></h3>
      <%= f.label :date %>
      <%= f.date_field :date, value: @facade.fetch_deed.date, min: Date.today %><br>
      <%= f.label :time %>
      <%= f.time_field :time, value: @facade.fetch_deed.time.to_datetime.strftime("%H:%M") %><br>
      <%= f.label :attendees %>
      <% @facade.fetch_deed.attendees.each do |attendee| %>
        <%= f.text_field :attendee, value: attendee.name, readonly: true %>
      <% end %><br>
      <%= f.check_box :status %>
      <%= f.label :status, "Completed" %><br>
      <%= f.label :notes %>
      <%= f.text_area :notes, value: @facade.fetch_deed.notes %><br>
      <%= f.label :media_link %>
      <%= f.file_field :media_link, value: @facade.fetch_deed.media_link %><br>
      <%= f.submit "Update Event" %>
    <% end %>

  <% elsif @facade.fetch_deed.status == 'Completed' %>

    <%= form_with url: user_good_deed_path(@facade.deed_id), method: :patch, local: true do |f| %>
      <h3><%= f.text_field :name, value: @facade.fetch_deed.name, readonly: true %></h3>
      <%= f.label :date %>
      <%= f.date_field :date, value: @facade.fetch_deed.date, readonly: true %><br>
      <%= f.label :time %>
      <%= f.text_field :time, value: @facade.fetch_deed.time, readonly: true %><br>
      <%= f.label :attendees %>
      <% @facade.fetch_deed.attendees.each do |attendee| %>
        <%= f.label :attendee, value: attendee.name %>
      <% end %><br>
      <%= f.text_field :status, value: 'Completed', readonly: true %>
      <%= f.label :notes %>
      <%= f.text_area :notes, value: @facade.fetch_deed.notes %><br>
      <%= f.label :media_link %>
      <%= f.file_field :media_link, value: @facade.fetch_deed.media_link %><br>
      <%= f.submit "Update Event" %>
    <% end %>

  <% end %>
</section>


<br>
<br>
<nav id="delete_deed">
  <% if @facade.fetch_deed.status == "In Progress" %>
    <%= link_to "Delete Event", user_good_deed_path(@facade.deed_id), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
  <% end %>
</nav>
-->