<h1><%= @facade[:name] %>'s Do Good Page</h1>
<br>
<!-- Random Act button -->
<br>
<p>You're Hosting!</p>
<% @facade[:hosting_deeds].each do |deed| %>
  <div id= "hosting-<%= deed.id %>">
    <%= deed.name %>
    <%= deed.date %>
    <%= deed.time %>
    <% deed.attendees.each do |invitee| %>
      <%= invitee[:name] %>
    <% end %>
    <!-- udpate button 
    <%= link_to "Update", '/'%> -->
    <br>
  </div>
<% end %> 

<p>You're Invited!</p>
<% @facade[:invited_deeds].each do |deed| %>
  <div id= "invited-<%= deed.id %>">
    <%= deed.name %>
    <%= deed.date %>
    <%= deed.time %>
    <%= deed.host_name %> 
    <% deed.attendees.each do |invitee| %>
      <%= invitee[:name] %>
    <% end %>
    <br>
  </div>
<% end %>

<p>Past Good Deeds</p>
<% @facade[:completed_deeds].each do |deed| %>
  <div id= "completed-<%= deed.id %>">

    <% if deed.media_link %>
      <%= image_tag deed.media_link %>
    <% else %>
        <%= image_tag("do_good.jpg", alt: "Do Good Logo") %>
    <% end %>

    <%= deed.name %>
    <%= deed.date %>
    <%= deed.time %>
    
    <% deed.attendees.each do |invitee| %>
      <%= invitee[:name] %>
    <% end %>

    <% if deed.notes %>
      <%= deed.notes %>
    <% end %>
    <!-- IF host_id == user's id display: udpate button // else NO button displayed-->
    <br>
  </div>
<% end %>