<!-- Title & Calendar Section -->
<section class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-4 mb-1">
  <article class="p-12 text-center" id="welcome message">
    <%= image_tag("do_good.jpg", alt: "Do Good Logo", class: "mx-auto w-1/5 h-auto") %>
    <h2 class="xl:text-4xl text-3xl text-center text-gray-800 font-extrabold py-6 sm:w-4/6 w-5/6 mx-auto">
      <%= @user_facade[:name] %>'s Do Good Page
    </h2>
    <button class="p-2 mb-4 bg-red-500 hover:bg-indigo-500 text-white font-base rounded" href='/random_acts'>
      <%= link_to "Choose a Random Act of Kindess", '/random_acts' %>
    </button>
    <hr class="h-px my-8 bg-indigo-300 border-0">
    <h4 class="text-gray-500 text-lg text-center font-normal p-8"> 
      Good job, you've added <%=@events%> Do Good Events to your calendar so far!
    </h4>
    <iframe class="mx-auto" src="https://calendar.google.com/calendar/embed?src=<%=@email%>%40gmail.com&ctz=America%2FDenver" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
  </article>
</section>

<hr class="h-px my-8 bg-gray-200 border-0">

<!-- You're Invited! Good Deed Cards -->
<% if  @user_facade[:invited_deeds].empty? %>
<% else %>
<section class='flex items-center justify-center min-h-screen bg-gradient-to-br px-2'>
  <article>
      
      <h2 class="xl:text-4xl text-3xl text-center text-gray-800 font-extrabold py-6 sm:w-4/6 w-5/6 mx-auto">
        <p>You're Invited!</p>
      </h2>

    <section class="mt-1 grid grid-cols-1 md:grid-cols-1 lg:grid-cols-3 gap-x-6 gap-y-8 pb-10">
      <% @user_facade[:invited_deeds].each do |deed| %>
        <div class='w-100 bg-white rounded-lg shadow-xl overflow-hidden' id= "invited-<%= deed.id %>">
          <div class='w-100'>
            <div class='h-[300px]' style="background-image: url('<%= asset_path 'upcoming_good.jpg' %>');background-size:cover;background-position:center">
            </div>
              <div class='p-4 sm:p-6'>
                
                <p class='font-bold text-gray-700 text-[17px] text-center leading-7 mb-1'><%= deed.name %></p>

                 <div class='flex flex-row mt-10 ml-10'>
                  <p class='text-[#3C3C4399] text-[15px] mr-2'>Date:</p>
                  <p class='text-[15px] text-[#6366f1]'><%= deed.date %></p>
                </div>

                <div class='flex flex-row ml-10'>
                  <p class='text-[#3C3C4399] text-[15px] mr-2'>Time:</p>
                  <p class='text-[15px] text-[#6366f1]'><%= deed.time %></p>
                </div>

                <div class='flex flex-row ml-10'>
                  <p class='text-[#3C3C4399] text-[15px] mr-2'>Host:</p>
                  <p class='text-[15px] text-[#6366f1]'><%= deed.host_name %></p>
                </div>

                <div class='flex flex-col ml-10'>
                  <p class='text-[#3C3C4399] text-[15px] mr-2'>Attendees:</p>
                  <% deed.attendees.each do |invitee| %>
                    <p class='text-[15px] text-[#6366f1]'><%= invitee.name %></p>
                  <% end %>
                </div>

              </div>
            </div>
          </div>
        </div>
      <% end %> 
    </section>
  </article>
</section>
<hr class="h-px my-8 bg-gray-200 border-0">
<% end %>

<!-- You're Hosting! Good Deed Cards -->
<% if  @user_facade[:hosting_deeds].empty? %>
<% else %>
<section class='flex items-center justify-center min-h-screen bg-gradient-to-br px-2'> ..
  <article>
      
      <h2 class="xl:text-4xl text-3xl text-center text-gray-800 font-extrabold py-6 sm:w-4/6 w-5/6 mx-auto">
        <p>You're Hosting!</p>
      </h2>

    <section class="mt-1 grid grid-cols-1 md:grid-cols-1 lg:grid-cols-3 gap-x-6 gap-y-8 pb-10">
      <% @user_facade[:hosting_deeds].each do |deed| %>
        <div class='w-100 bg-white rounded-lg shadow-xl overflow-hidden' id= "hosting-<%= deed.id %>">
          <div class='w-100'>
            <div class='h-[300px]' style="background-image: url('<%= asset_path 'upcoming_good2.jpg' %>');background-size:cover;background-position:center">
            </div>
              <div class='p-4 sm:p-6'>

                <p class='font-bold text-gray-700 text-[17px] text-center leading-7 mb-1'><%= deed.name %></p>

                 <div class='flex flex-row mt-10 ml-10'>
                  <p class='text-[#3C3C4399] text-[15px] mr-2'>Date:</p>
                  <p class='text-[15px] text-[#6366f1]'><%= deed.date %></p>
                </div>

                <div class='flex flex-row ml-10'>
                  <p class='text-[#3C3C4399] text-[15px] mr-2'>Time:</p>
                  <p class='text-[15px] text-[#6366f1]'><%= deed.time %></p>
                </div>

                <div class='flex flex-col ml-10'>
                  <p class='text-[#3C3C4399] text-[15px] mr-2'>Attendees:</p>
                  <% deed.attendees.each do |invitee| %>
                    <p class='text-[15px] text-[#6366f1]'><%= invitee.name %></p>
                  <% end %>
                </div>

                <a target='_blank' href="/user/good_deeds/<%= deed.id %>/edit" class='block mt-10 w-full px-4 py-3 font-medium tracking-wide text-center capitalize transition-colors duration-300 transform bg-[#ef4444] rounded-[14px] hover:bg-[#6366f1] focus:outline-none focus:ring focus:ring-teal-300 focus:ring-opacity-80'>
                    Update
                </a>

              </div>
            </div>
          </div>
        </div>
      <% end %> 
    </section>
  </article>
</section>
<hr class="h-px my-8 bg-gray-200 border-0">
<% end %>

<% if  @user_facade[:completed_deeds].empty? %>
<% else %>
<!-- Completed Good Deed Cards -->
<section class='flex items-center justify-center min-h-screen bg-gradient-to-br px-2'>
  <article>
      
      <h2 class="xl:text-4xl text-3xl text-center text-gray-800 font-extrabold py-6 sm:w-4/6 w-5/6 mx-auto">
        <p>Past Good Deeds</p>
      </h2>

    <section class="mt-1 grid grid-cols-1 md:grid-cols-1 lg:grid-cols-3 gap-x-6 gap-y-8 pb-10">
      <% @user_facade[:completed_deeds].each do |deed| %>
        <div class='w-100 bg-white rounded-lg shadow-xl overflow-hidden' id="completed-<%= deed.id %>">
          <div class='w-100'>

            <% if  deed.media_link == nil || deed.media_link == "" %>
              <div class='h-[300px]' style="background-image: url('<%= asset_path 'completed_badge.jpg' %>');background-size:cover;background-position:center">
            <% else %>
              <div class='h-[300px]' style="background-image: url('<%= "https://#{ENV['S3_BUCKET_NAME']}.s3.#{ENV['AWS_REGION']}.amazonaws.com/#{deed.media_link}" %>');background-size:cover;background-position:center">
            <% end %>
            
            </div>
              <div class='p-4 sm:p-6'>
                
                <p class='font-bold text-gray-700 text-[17px] text-center leading-7 mb-1'><%= deed.name %></p>

                 <div class='flex flex-row mt-10 ml-10'>
                  <p class='text-[#3C3C4399] text-[15px] mr-2'>Date:</p>
                  <p class='text-[15px] text-[#6366f1]'><%= deed.date %></p>
                </div>

                <div class='flex flex-row ml-10'>
                  <p class='text-[#3C3C4399] text-[15px] mr-2'>Time:</p>
                  <p class='text-[15px] text-[#6366f1]'><%= deed.time %></p>
                </div>

                <div class='flex flex-col ml-10'>
                  <p class='text-[#3C3C4399] text-[15px] mr-2'>Attendees:</p>
                  <% deed.attendees.each do |invitee| %>
                    <p class='text-[15px] text-[#6366f1]'><%= invitee.name %></p>
                  <% end %>
                </div>

                <% if deed.notes == nil || deed.notes == "" %>
                <% else %>
                  <div class='flex flex-row ml-10'>
                    <p class='text-[#3C3C4399] text-[15px] mr-2'>Notes:</p>
                    <p class='text-[15px] text-[#6366f1]'><%= deed.notes %></p>
                  </div>
                <% end %>

                <% if deed.host_id == @user_facade[:id].to_i %>
                  <a target='_blank' href="/user/good_deeds/<%= deed.id %>/edit" class='block mt-10 w-full px-4 py-3 font-medium tracking-wide text-center capitalize transition-colors duration-300 transform bg-[#6366f1] rounded-[14px] hover:bg-[#ef4444] focus:outline-none focus:ring focus:ring-teal-300 focus:ring-opacity-80'>
                      Update
                  </a>
                <% end %>

              </div>
            </div>
          </div>
        </div>
      <% end %> 
    </section>
  </article>
</section>
<% end %>

<!-- Original Code -->
<!-- <h1><%= @user_facade[:name] %>'s Do Good Page</h1>
  <%= link_to "Choose a Random Act of Kindess", '/random_acts'%>
  <p>Good job, you've added <%=@events%> Do Good Events to your calendar so far!</p>
  <iframe src="https://calendar.google.com/calendar/embed?src=<%=@email%>%40gmail.com&ctz=America%2FDenver" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

<p>You're Invited!</p>
<% @user_facade[:invited_deeds].each do |deed| %>
  <div id= "invited-<%= deed.id %>">
     <%= image_tag("upcoming_good.jpg", alt: "Upcoming Good", class: "mx-auto w-1/5 h-auto") %> 
   <%= image_tag("upcoming_good.jpg", alt: "Upcoming Good") %>
    <%= deed.name %>
    <%= deed.date %>
    <%= deed.time %>
    <%= deed.host_name %> 
    <% deed.attendees.each do |invitee| %>
      <%= invitee.name %>
    <% end %>
    <br>
  </div>
<% end %> 

<p>You're Hosting!</p>
<% @user_facade[:hosting_deeds].each do |deed| %>
  <div id= "hosting-<%= deed.id %>">
  <%= image_tag("upcoming_good.jpg", alt: "Upcoming Good", class: "mx-auto w-1/5 h-auto") %>
    <%= image_tag("upcoming_good.jpg", alt: "Upcoming Good") %>
    <%= deed.name %>
    <%= deed.date %>
    <%= deed.time %>
    <% deed.attendees.each do |invitee| %>
      <%= invitee.name %>
    <% end %>
    <%= link_to "Update", "/user/good_deeds/#{deed.id}/edit" %>
    <br>
  </div>
<% end %> 

<p>Past Good Deeds</p>
<% @user_facade[:completed_deeds].each do |deed| %>
  <div id= "completed-<%= deed.id %>">

    # Had to delete image upload code cuz Tailwind be picky

    <%= deed.name %>
    <%= deed.date %>
    <%= deed.time %>

    <% deed.attendees.each do |invitee| %>
      <%= invitee.name %>
    <% end %>

    <% if deed.notes %>
      <%= deed.notes %>
    <% end %>

    <% if deed.host_id == @user_facade[:id] %>
      <%= link_to "Update", "/user/good_deeds/#{deed.id}/edit" %>
    <% end %>
    <br>
  </div>
<% end %> -->
