<% if current_user.nil?%>
  <%= link_to "Log In", login_path %>
<% end %>

<div id= "title">
  <h1>"Do Good"</h1>
  <p><%= "Ok, I'm Convinced. I wanna join the fun" %></p>
</div>

<div id= "random_act">
  <%= button_to "Random Acts", "/random_acts", method: :get %>
</div>

<div class= “deeds”>
  <% @deeds.get_deeds.each do |deed|%>
    <%= deed.name %>
    <%= deed.media_link %>
  <%end%>
</div>
