<!-- ORIGINAL VIEW:  %>
<% @deeds.get_deeds.each do |deed| %>  
  <%= deed.media_link %>
  <%= deed.name %>
<% end %> -->

<!-- Logo / Moto / Login -->
<section class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-4 mb-1">
  <article class="p-12 text-center" id="logo">
    <%= image_tag("do_good.jpg", alt: "Do Good Logo", class: "mx-auto w-1/5 h-auto") %>
    <h2 class="xl:text-4xl text-3xl text-center text-gray-800 font-extrabold py-6 sm:w-4/6 w-5/6 mx-auto">
      <% if current_user %>
        Ready to do more good?
      <% else %>
        Ok, I'm Convinced. I wanna join the fun!
      <% end %>
    </h2>
      <% if current_user %>
        <button class="p-2 mb-4 bg-red-500 hover:bg-indigo-500 text-white font-base rounded" href='/random_acts'>
          <%= link_to "Choose a Random Act of Kindess", '/random_acts'%>
        </button>
      <% else %>
        <button class="p-2 mb-4 bg-red-500 hover:bg-indigo-500 text-white font-base rounded" href='/auth/google_oauth2'>
          <%= link_to "Login/Register", '/auth/google_oauth2'%>
        </button>
      <% end %>
  </article>
</section>
<hr class="h-px my-8 bg-gray-200 border-0">

<!-- Good Deed Cards -->
<section class='flex items-center justify-center min-h-screen bg-gradient-to-br px-2'>
  <article>
    <section class="mt-1 grid grid-cols-1 md:grid-cols-1 lg:grid-cols-3 gap-x-6 gap-y-8 pb-10">
      <% @deeds.get_deeds.each do |deed| %> 
      
        <div class='max-w-md  mx-auto bg-white rounded-lg shadow-xl overflow-hidden w-80'>
          <div class='max-w-md mx-auto'>

                <% if  deed.media_link == nil || deed.media_link == "" %>
                  <div class='h-[400px]' style='background-image:url(<%= asset_path 'completed_badge.jpg' %>);background-size:cover;background-position:center'></div>
                <% else %>
                  <div class='h-[400px]' style="background-image: url('<%= "https://#{ENV['S3_BUCKET_NAME']}.s3.#{ENV['AWS_REGION']}.amazonaws.com/#{deed.media_link}" %>');background-size:cover;background-position:center"></div>
                <% end %>

                <div class='p-4 sm:p-6'>
                  <p class='font-bold text-gray-700 text-[15px] leading-7 mb-1'><%= deed.name %></p>
                </div>

          </div>
        </div>
      <% end %> 
    </section>
  </article>
</section>