<!DOCTYPE html>
<html>
  <head>
    <title>DoGoodWeb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <section id="header" class="h-14 bg-gradient-to-r from-orange-300 to-rose-300">
      <a class="m-6 text-gray-900 text-2xl font-bold text-center" href="/">
        Do Good
      </a>
    </section>

  <% flash.each do |type, message| %>
    <p><%= message %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
