<!DOCTYPE html>
<html>
  <head>
    <title>DoGoodWeb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <% if current_user %>
    <%= link_to "My Page", dashboard_path %>
    <%= link_to "Log Out", logout_path %>
  <% end %>
  <%= link_to "DO GOOD", root_path%>
  <% flash.each do |type, message| %>
    <p><%= message %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
